body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 50px;
    background-color: #F3C00C;
}

/* ========= .CARD GENERAL STYLING: placment + size styles  ======= */

.card {
    max-width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* No effect...*/
    text-align: center;
}


/* ========= .CARD OTHER DESIGN N DETAIL STYLING ======= */

.card__what, .card__when, .card__where, .card__how {
    background-color:rgb(229, 133, 15);
    border-radius: 50px;
    border: dotted 5px rgb(169, 12, 12);
   
}

.envelope:hover, .clock:hover, .pin:hover, .question:hover {
    /*background-color: rgba(88, 200, 20, 1);
    border: solid 4px rgba(58, 141, 8, 1);
    transition: all 1s ease-in-out;  
    transition-delay: 0,5s;*/
    cursor: pointer; 
}

.envelope, .clock, .pin, .question {
    width: 50%;
    height: 50%;
    animation: cardicons 3s ease infinite;
    animation-direction: reverse;
    animation-fill-mode: none;
}

@keyframes cardicons {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}

/* ========= GENERAL TEXT STYLING ======= */

h1 {
    color: black;
    font-size: 50px;
    font-family:'Joti One';
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;  
    padding: 40px; 
}

h2 {
    color: black;
    font-size: 30px;
    font-family:'Joti One';
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;  
    padding: none; 
}

h3 {
    color: black;
    font-family:'Joti One';
    font-size: 25px;
}

p {
    color: black;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 25px;
    padding: 14px;
}

/* ========= RSVP-section and BUTTON STYLING ======= */

.rsvp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rsvp__button {
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-family: 'Joti One';
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    background-color: rgba(58, 141, 8, 1);
    border: solid black;
    margin-top: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(88, 200, 20, 1);
    border: solid 4px rgba(58, 141, 8, 1);
    transition: all 1s ease-in-out;  
    transition-delay: 0,5s; 
}

/* ========= Heading GHOST ANIMATION: pre-made svg + pre-made animation ======= */

#ghost {
    width: 5%;
}


