body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 50px;
    background-color: #F3C00C;
}

/* ========= CARD GENERAL STYLING: placment + size styles  ======= */

.card {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

/* ========= CARD SPECIFIC STYLING + ANIMATIONS ======= */

.card__what {
    background-color:rgb(212, 123, 13);
    border-radius: 50px;
    border-color: rgba(214, 25, 138, 0.91);
    display: flex;
    flex-direction: column;
    align-content: center;
}

#mkp__envelope {
    justify-content: center;
    width: 20%;
}

.card__when {
    background-color: rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
}

.card__where {
    background-color:rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
}

.card__how {
    background-color:rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
}

/* ========= GENERAL TEXT STYLING ======= */

h1 {
    color: black;
    font-size: 35px;
    font-family:'Joti One';
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;   
}

h3 {
    color: black;
    font-family:'Joti One';
    font-size: 25px;
}

p {
    color: black;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 25px;
    padding: 14px;
}

/* ========= BUTTON RSVP - STYLING ======= */

.rsvp__button {
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-family: 'Joti One';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    background-color: rgba(58, 141, 8, 1);
    margin: 15px;

    cursor: pointer;
}

button:hover {
    background-color:  rgba(88, 200, 20, 1);
    border: solid 4px rgba(58, 141, 8, 1);
    transition: all 1s ease-in-out;   
}

/* ========= Heading GHOST ANIMATION: pre-made svg + pre-made animation ======= */

#ghost {
    width: 5%;
}

.animate__animated {
    animation: infinite;
}

/* ========= Where? PIN SVG: pre-made svg + pre-made animation ======= */

.pin {
    max-width: 30%;
}

/* ========= How? QUESTION SVG: pre-made svg + pre-made animation ======= */
#question {
    margin: 0px;
    display: flex;
    justify-content: start;

}

.card__clock {
    width: 
}

