body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 50px;
    background-color: #F3C00C;


.card {
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    display: flex;
    text-align: center;
}

.card__what {
    background-color:rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
   
}

.envelope {
    width: 30%;
}

.card__when: {
    background-color:rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
}
.card__where: {
    background-color:rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
}

.card__how: {
    background-color:rgb(212, 123, 13);
    border-radius: 20px;
    border-color: rgba(214, 25, 138, 0.91);
}

h1 {
    color: black;
    font-size: 35px;
    font-family:'Joti One';
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

p {
    color: black;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 20px;
}

}.ghost_svg {
    width: 5%;
}

.pin {
    max-width: 40%;
}

#question {
    margin: 0px;
    display: flex;
    justify-content: start;

}

.card__clock {
    width: 8%
}

.card__envelope {

}